USE [DncZeus]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DncUserRoleMapping_DncUser_UserGuid]') AND parent_object_id = OBJECT_ID(N'[dbo].[DncUserRoleMapping]'))
ALTER TABLE [dbo].[DncUserRoleMapping] DROP CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DncUserRoleMapping_DncRole_RoleCode]') AND parent_object_id = OBJECT_ID(N'[dbo].[DncUserRoleMapping]'))
ALTER TABLE [dbo].[DncUserRoleMapping] DROP CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DncRolePermissionMapping_DncRole_RoleCode]') AND parent_object_id = OBJECT_ID(N'[dbo].[DncRolePermissionMapping]'))
ALTER TABLE [dbo].[DncRolePermissionMapping] DROP CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DncRolePermissionMapping_DncPermission_PermissionCode]') AND parent_object_id = OBJECT_ID(N'[dbo].[DncRolePermissionMapping]'))
ALTER TABLE [dbo].[DncRolePermissionMapping] DROP CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DncPermission_DncMenu_MenuGuid]') AND parent_object_id = OBJECT_ID(N'[dbo].[DncPermission]'))
ALTER TABLE [dbo].[DncPermission] DROP CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DncUser__Created__65370702]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DncUser] DROP CONSTRAINT [DF__DncUser__Created__65370702]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DncRole__Created__662B2B3B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DncRole] DROP CONSTRAINT [DF__DncRole__Created__662B2B3B]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DncPermis__Creat__671F4F74]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DncPermission] DROP CONSTRAINT [DF__DncPermis__Creat__671F4F74]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DncMenu__Created__681373AD]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DncMenu] DROP CONSTRAINT [DF__DncMenu__Created__681373AD]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DncIcon__Created__690797E6]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DncIcon] DROP CONSTRAINT [DF__DncIcon__Created__690797E6]
END
GO
/****** Object:  Table [dbo].[DncUserRoleMapping]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncUserRoleMapping]') AND type in (N'U'))
DROP TABLE [dbo].[DncUserRoleMapping]
GO
/****** Object:  Table [dbo].[DncUser]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncUser]') AND type in (N'U'))
DROP TABLE [dbo].[DncUser]
GO
/****** Object:  Table [dbo].[DncRolePermissionMapping]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncRolePermissionMapping]') AND type in (N'U'))
DROP TABLE [dbo].[DncRolePermissionMapping]
GO
/****** Object:  Table [dbo].[DncRole]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncRole]') AND type in (N'U'))
DROP TABLE [dbo].[DncRole]
GO
/****** Object:  Table [dbo].[DncPermission]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncPermission]') AND type in (N'U'))
DROP TABLE [dbo].[DncPermission]
GO
/****** Object:  Table [dbo].[DncMenu]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncMenu]') AND type in (N'U'))
DROP TABLE [dbo].[DncMenu]
GO
/****** Object:  Table [dbo].[DncIcon]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DncIcon]') AND type in (N'U'))
DROP TABLE [dbo].[DncIcon]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2018-12-22 16:56:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncIcon]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncIcon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](50) NULL,
	[Custom] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DncIcon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncMenu]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncMenu](
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[Icon] [nvarchar](128) NULL,
	[ParentGuid] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Sort] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[IsDefaultRouter] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DncMenu] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncPermission]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncPermission](
	[Code] [nvarchar](20) NOT NULL,
	[MenuGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionCode] [nvarchar](80) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DncPermission] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncRole]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRole](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[IsSuperAdministrator] [bit] NOT NULL,
	[IsBuiltin] [bit] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DncRole] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncRolePermissionMapping]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRolePermissionMapping](
	[RoleCode] [nvarchar](50) NOT NULL,
	[PermissionCode] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncRolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncUser]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUser](
	[Guid] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserType] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Description] [nvarchar](800) NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DncUser] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncUserRoleMapping]    Script Date: 2018-12-22 16:56:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUserRoleMapping](
	[UserGuid] [uniqueidentifier] NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncUserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[UserGuid] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181219071659_Init', N'2.1.4-rtm-31024')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181222084512_Mt_Remove_Identity_Column', N'2.1.4-rtm-31024')
SET IDENTITY_INSERT [dbo].[DncIcon] ON 

INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (1, N'ios-add', NULL, NULL, NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.0159312' AS DateTime2), N'超级管理员', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (2, N'md-paper-plane', NULL, N'#0285FF', NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.1401204' AS DateTime2), N'超级管理员', CAST(N'2018-11-20T14:58:37.9302860' AS DateTime2), N'', N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (3, N'ios-partly-sunny', NULL, N'#FA9B07', NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.1401576' AS DateTime2), N'超级管理员', CAST(N'2018-11-20T14:58:21.0896581' AS DateTime2), N'', N'00000000-0000-0000-0000-000000000000', NULL)
GO
SET IDENTITY_INSERT [dbo].[DncIcon] OFF
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'2EKdG4Ir', N'2f458429-3976-408f-8a4f-aacbfe7d82cc', N'删除', N'delete', NULL, N'', 1, 0, 1, CAST(N'2018-12-14T15:22:04.7633019' AS DateTime2), N'超级管理员', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'30K14RFe', N'aebda189-0bf8-4f4e-8a7b-7324e9f76bed', N'查看', N'tools_methods_page_view', NULL, N'', 1, 0, 0, CAST(N'2018-12-13T16:55:03.1466309' AS DateTime2), N'超级管理员', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncPermission] ([Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'73o5I0zh', N'793e0f5d-0846-46de-968d-5e59d919b153', N'备份', N'system_settings_backup', NULL, N'', 1, 0, 1, CAST(N'2018-11-27T17:39:09.4945215' AS DateTime2), N'超级管理员', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'9PeVLUMU', N'超级管理员', N'', 1, 0, CAST(N'2018-11-20T16:56:20.6919581' AS DateTime2), N'超级管理员', NULL, NULL, 1, 1, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'C7kPHIwu', N'普通用户', N'', 1, 0, CAST(N'2018-11-16T15:54:37.1661429' AS DateTime2), N'超级管理员', CAST(N'2018-12-17T14:55:00.0644449' AS DateTime2), N'管理员', 0, 0, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncRole] ([Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'WPbv96HC', N'管理员', N'', 1, 0, CAST(N'2018-11-16T15:54:28.0778391' AS DateTime2), N'超级管理员', CAST(N'2018-12-17T14:55:03.3745017' AS DateTime2), N'管理员', 0, 1, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'I2U5lW40', CAST(N'2018-12-14T15:22:11.7399118' AS DateTime2))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'N76RWAiv', CAST(N'2018-12-14T15:22:11.7400624' AS DateTime2))
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'Nry7I8go', CAST(N'2018-12-14T15:22:11.7402699' AS DateTime2))
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [Description], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'user001', N'普通用户001', N'111111', N'', 2, 0, 1, 0, CAST(N'2018-11-20T16:57:04.5842643' AS DateTime2), NULL, NULL, NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [Description], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'admin', N'管理员', N'111111', NULL, 1, 0, 1, 0, CAST(N'2018-11-16T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2018-12-11T15:26:17.2444832' AS DateTime2), N'', NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncUser] ([Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserName], [Description], [CreatedByUserGuid], [ModifiedByUserGuid]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'administrator', N'系统管理员', N'111111', N'https://file.iviewui.com/dist/a0e88e83800f138b94d2414621bd9704.png', 0, 0, 1, 0, CAST(N'2018-11-16T15:15:42.7519863' AS DateTime2), N'系统管理员', CAST(N'2018-12-14T15:20:36.8322511' AS DateTime2), N'', NULL, N'00000000-0000-0000-0000-000000000000', NULL)
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'C7kPHIwu', CAST(N'2018-12-17T14:36:24.7380762' AS DateTime2))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'WPbv96HC', CAST(N'2018-11-20T17:10:40.4957633' AS DateTime2))
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'9PeVLUMU', CAST(N'2018-11-20T17:12:42.0709162' AS DateTime2))
ALTER TABLE [dbo].[DncIcon] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserGuid]
GO
ALTER TABLE [dbo].[DncMenu] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserGuid]
GO
ALTER TABLE [dbo].[DncPermission] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserGuid]
GO
ALTER TABLE [dbo].[DncRole] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserGuid]
GO
ALTER TABLE [dbo].[DncUser] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedByUserGuid]
GO
ALTER TABLE [dbo].[DncPermission]  WITH CHECK ADD  CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid] FOREIGN KEY([MenuGuid])
REFERENCES [dbo].[DncMenu] ([Guid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DncPermission] CHECK CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode] FOREIGN KEY([PermissionCode])
REFERENCES [dbo].[DncPermission] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode]
GO
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode]
GO
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[DncUser] ([Guid])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid]
GO
