<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <root>
    <level value="ALL" />
    <appender-ref ref="DebugLogAppender" />
    <appender-ref ref="InfoLogAppender" />
    <appender-ref ref="WarnLogAppender" />
    <appender-ref ref="ErrorLogAppender" />
  </root>
  <appender name="DebugLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\\logs\\" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="MaximumFileSize" value="200KB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;-Debug.txt&quot;" />
    <param name="RollingStyle" value="Composite" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="DEBUG" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
    </layout>
  </appender>
  <appender name="InfoLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\\logs\\" />
    <param name="AppendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="5000KB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;-Info.txt&quot;" />
    <param name="CountDirection" value="1" />
    <param name="RollingStyle" value="Composite" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
    </layout>
  </appender>
  <appender name="WarnLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\\logs\\" />
    <param name="AppendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="5000KB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;-Warning.txt&quot;" />
    <param name="CountDirection" value="1" />
    <param name="RollingStyle" value="Composite" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN" />
      <levelMax value="WARN" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
    </layout>
  </appender>
  <appender name="ErrorLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value=".\\logs\\" />
    <param name="AppendToFile" value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="5000KB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;-Error.txt&quot;" />
    <param name="RollingStyle" value="Composite" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />
    </layout>
  </appender>
</log4net>