USE DncZeus
GO
USE [DncZeus]
GO
/****** Object:  Table [dbo].[DncIcon]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncIcon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](50) NULL,
	[Custom] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserId] [int] NOT NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncIcon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncMenu]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[Icon] [nvarchar](128) NULL,
	[ParentGuid] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Sort] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[IsDefaultRouter] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserId] [int] NOT NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncMenu] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncPermission]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[MenuGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionCode] [nvarchar](80) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserId] [int] NOT NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DncPermission] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncRole]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserId] [int] NOT NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[IsSuperAdministrator] [bit] NOT NULL,
	[IsBuiltin] [bit] NOT NULL,
 CONSTRAINT [PK_DncRole] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncRolePermissionMapping]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncRolePermissionMapping](
	[RoleCode] [nvarchar](50) NOT NULL,
	[PermissionCode] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncRolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncUser]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserType] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserId] [int] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserId] [int] NOT NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Description] [nvarchar](800) NULL,
 CONSTRAINT [PK_DncUser] PRIMARY KEY CLUSTERED 
(
	[Guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DncUserRoleMapping]    Script Date: 2018-12-19 16:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DncUserRoleMapping](
	[UserGuid] [uniqueidentifier] NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DncUserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[UserGuid] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DncIcon] ON 
GO
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (1, N'ios-add', NULL, NULL, NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.0159312' AS DateTime2), 1, N'超级管理员', NULL, 0, NULL)
GO
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (2, N'md-paper-plane', NULL, N'#0285FF', NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.1401204' AS DateTime2), 1, N'超级管理员', CAST(N'2018-11-20T14:58:37.9302860' AS DateTime2), 0, N'')
GO
INSERT [dbo].[DncIcon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (3, N'ios-partly-sunny', NULL, N'#FA9B07', NULL, NULL, 1, 0, CAST(N'2018-11-20T14:57:54.1401576' AS DateTime2), 1, N'超级管理员', CAST(N'2018-11-20T14:58:21.0896581' AS DateTime2), 0, N'')
GO
SET IDENTITY_INSERT [dbo].[DncIcon] OFF
GO
SET IDENTITY_INSERT [dbo].[DncMenu] ON 
GO
INSERT [dbo].[DncMenu] ([Id], [Guid], [Name], [Url], [Alias], [Icon], [ParentGuid], [ParentName], [Level], [Description], [Sort], [Status], [IsDeleted], [IsDefaultRouter], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (1, N'10e1e5ff-c422-4172-a6d4-04c1043cd9fa', N'菜单管理', N'rbac/menu', N'rbac_menu_page', N'md-menu', N'71a53fa6-c271-4834-9b92-6ba4e187c03a', N'用户权限管理', 1, N'', 0, 1, 0, 0, CAST(N'2018-11-29T15:28:58.9791695' AS DateTime2), 1, N'超级管理员', CAST(N'2018-11-29T16:19:28.8725414' AS DateTime2), 0, N'')
GO
INSERT [dbo].[DncMenu] ([Id], [Guid], [Name], [Url], [Alias], [Icon], [ParentGuid], [ParentName], [Level], [Description], [Sort], [Status], [IsDeleted], [IsDefaultRouter], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (2, N'6f5b8aae-0385-4686-9daf-1c67914d8191', N'角色管理', N'rbac/role', N'rbac_role_page', N'md-contacts', N'71a53fa6-c271-4834-9b92-6ba4e187c03a', N'用户权限管理', 1, N'', 0, 1, 0, 0, CAST(N'2018-11-29T15:28:03.7683462' AS DateTime2), 1, N'超级管理员', CAST(N'2018-11-29T16:19:38.7812415' AS DateTime2), 0, N'')
GO
INSERT [dbo].[DncMenu] ([Id], [Guid], [Name], [Url], [Alias], [Icon], [ParentGuid], [ParentName], [Level], [Description], [Sort], [Status], [IsDeleted], [IsDefaultRouter], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (1008, N'fb49cf5f-6161-4f41-9f3c-2e9bc4c7b1bb', N'图标管理', N'rbac/icon', N'rbac_icon_page', N'logo-codepen', N'71a53fa6-c271-4834-9b92-6ba4e187c03a', N'用户权限管理', 1, N'', 0, 1, 0, 0, CAST(N'2018-12-13T11:55:14.0321126' AS DateTime2), 1, N'超级管理员', CAST(N'2018-12-13T11:55:57.7257698' AS DateTime2), 0, N'')
GO
SET IDENTITY_INSERT [dbo].[DncMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[DncPermission] ON 
GO
INSERT [dbo].[DncPermission] ([Id], [Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (2018, N'2EKdG4Ir', N'2f458429-3976-408f-8a4f-aacbfe7d82cc', N'删除', N'delete', NULL, N'', 1, 0, 1, CAST(N'2018-12-14T15:22:04.7633019' AS DateTime2), 1, N'超级管理员', NULL, 0, NULL)
GO
INSERT [dbo].[DncPermission] ([Id], [Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (2015, N'30K14RFe', N'aebda189-0bf8-4f4e-8a7b-7324e9f76bed', N'查看', N'tools_methods_page_view', NULL, N'', 1, 0, 0, CAST(N'2018-12-13T16:55:03.1466309' AS DateTime2), 1, N'超级管理员', NULL, 0, NULL)
GO
INSERT [dbo].[DncPermission] ([Id], [Code], [MenuGuid], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName]) VALUES (12, N'73o5I0zh', N'793e0f5d-0846-46de-968d-5e59d919b153', N'备份', N'system_settings_backup', NULL, N'', 1, 0, 1, CAST(N'2018-11-27T17:39:09.4945215' AS DateTime2), 1, N'超级管理员', NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[DncPermission] OFF
GO
SET IDENTITY_INSERT [dbo].[DncRole] ON 
GO
INSERT [dbo].[DncRole] ([Id], [Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (3, N'9PeVLUMU', N'超级管理员', N'', 1, 0, CAST(N'2018-11-20T16:56:20.6919581' AS DateTime2), 1, N'超级管理员', NULL, 0, NULL, 1, 1)
GO
INSERT [dbo].[DncRole] ([Id], [Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (2, N'C7kPHIwu', N'普通用户', N'', 1, 0, CAST(N'2018-11-16T15:54:37.1661429' AS DateTime2), 1, N'超级管理员', CAST(N'2018-12-17T14:55:00.0644449' AS DateTime2), 12, N'管理员', 0, 0)
GO
INSERT [dbo].[DncRole] ([Id], [Code], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (1, N'WPbv96HC', N'管理员', N'', 1, 0, CAST(N'2018-11-16T15:54:28.0778391' AS DateTime2), 1, N'超级管理员', CAST(N'2018-12-17T14:55:03.3745017' AS DateTime2), 12, N'管理员', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[DncRole] OFF
GO
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'I2U5lW40', CAST(N'2018-12-14T15:22:11.7399118' AS DateTime2))
GO
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'N76RWAiv', CAST(N'2018-12-14T15:22:11.7400624' AS DateTime2))
GO
INSERT [dbo].[DncRolePermissionMapping] ([RoleCode], [PermissionCode], [CreatedOn]) VALUES (N'C7kPHIwu', N'Nry7I8go', CAST(N'2018-12-14T15:22:11.7402699' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[DncUser] ON 
GO
INSERT [dbo].[DncUser] ([Id], [Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [Description]) VALUES (13, N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'user001', N'普通用户001', N'111111', N'', 2, 0, 1, 0, CAST(N'2018-11-20T16:57:04.5842643' AS DateTime2), 0, NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[DncUser] ([Id], [Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [Description]) VALUES (12, N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'admin', N'管理员', N'111111', NULL, 1, 0, 1, 0, CAST(N'2018-11-16T00:00:00.0000000' AS DateTime2), 1, NULL, CAST(N'2018-12-11T15:26:17.2444832' AS DateTime2), 0, N'', NULL)
GO
INSERT [dbo].[DncUser] ([Id], [Guid], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserId], [CreatedByUserName], [ModifiedOn], [ModifiedByUserId], [ModifiedByUserName], [Description]) VALUES (1, N'20263da4-aed4-4aba-a6cc-b985c016858e', N'administrator', N'系统管理员', N'111111', N'https://file.iviewui.com/dist/a0e88e83800f138b94d2414621bd9704.png', 0, 0, 1, 0, CAST(N'2018-11-16T15:15:42.7519863' AS DateTime2), 1, N'系统管理员', CAST(N'2018-12-14T15:20:36.8322511' AS DateTime2), 0, N'', NULL)
GO
SET IDENTITY_INSERT [dbo].[DncUser] OFF
GO
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'C7kPHIwu', CAST(N'2018-12-17T14:36:24.7380762' AS DateTime2))
GO
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'WPbv96HC', CAST(N'2018-11-20T17:10:40.4957633' AS DateTime2))
GO
INSERT [dbo].[DncUserRoleMapping] ([UserGuid], [RoleCode], [CreatedOn]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'9PeVLUMU', CAST(N'2018-11-20T17:12:42.0709162' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DncPermission_Code]    Script Date: 2018-12-19 16:26:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DncPermission_Code] ON [dbo].[DncPermission]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DncPermission_MenuGuid]    Script Date: 2018-12-19 16:26:36 ******/
CREATE NONCLUSTERED INDEX [IX_DncPermission_MenuGuid] ON [dbo].[DncPermission]
(
	[MenuGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DncRole_Code]    Script Date: 2018-12-19 16:26:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DncRole_Code] ON [dbo].[DncRole]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DncRolePermissionMapping_PermissionCode]    Script Date: 2018-12-19 16:26:36 ******/
CREATE NONCLUSTERED INDEX [IX_DncRolePermissionMapping_PermissionCode] ON [dbo].[DncRolePermissionMapping]
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DncUserRoleMapping_RoleCode]    Script Date: 2018-12-19 16:26:36 ******/
CREATE NONCLUSTERED INDEX [IX_DncUserRoleMapping_RoleCode] ON [dbo].[DncUserRoleMapping]
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DncPermission]  WITH CHECK ADD  CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid] FOREIGN KEY([MenuGuid])
REFERENCES [dbo].[DncMenu] ([Guid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DncPermission] CHECK CONSTRAINT [FK_DncPermission_DncMenu_MenuGuid]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode] FOREIGN KEY([PermissionCode])
REFERENCES [dbo].[DncPermission] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncPermission_PermissionCode]
GO
ALTER TABLE [dbo].[DncRolePermissionMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncRolePermissionMapping] CHECK CONSTRAINT [FK_DncRolePermissionMapping_DncRole_RoleCode]
GO
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[DncRole] ([Code])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncRole_RoleCode]
GO
ALTER TABLE [dbo].[DncUserRoleMapping]  WITH CHECK ADD  CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[DncUser] ([Guid])
GO
ALTER TABLE [dbo].[DncUserRoleMapping] CHECK CONSTRAINT [FK_DncUserRoleMapping_DncUser_UserGuid]
GO
USE [master]
GO
